In [3]:
import numpy as np
import pandas as pd

house_data = pd.read_csv('./train.csv', header = None)
house_data.head

<bound method NDFrame.head of         0           1         2            3        4       5      6   \
0       Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley
1        1          60        RL           65     8450    Pave    NaN
2        2          20        RL           80     9600    Pave    NaN
3        3          60        RL           68    11250    Pave    NaN
4        4          70        RL           60     9550    Pave    NaN
...    ...         ...       ...          ...      ...     ...    ...
1456  1456          60        RL           62     7917    Pave    NaN
1457  1457          20        RL           85    13175    Pave    NaN
1458  1458          70        RL           66     9042    Pave    NaN
1459  1459          20        RL           68     9717    Pave    NaN
1460  1460          20        RL           75     9937    Pave    NaN

            7            8          9   ...        71      72     73  \
0     LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence
1          Reg          Lvl     AllPub  ...         0     NaN    NaN
2          Reg          Lvl     AllPub  ...         0     NaN    NaN
3          IR1          Lvl     AllPub  ...         0     NaN    NaN
4          IR1          Lvl     AllPub  ...         0     NaN    NaN
...        ...          ...        ...  ...       ...     ...    ...
1456       Reg          Lvl     AllPub  ...         0     NaN    NaN
1457       Reg          Lvl     AllPub  ...         0     NaN  MnPrv
1458       Reg          Lvl     AllPub  ...         0     NaN  GdPrv
1459       Reg          Lvl     AllPub  ...         0     NaN    NaN
1460       Reg          Lvl     AllPub  ...         0     NaN    NaN

               74       75      76      77        78             79         80
0     MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
1             NaN        0       2    2008        WD         Normal     208500
2             NaN        0       5    2007        WD         Normal     181500
3             NaN        0       9    2008        WD         Normal     223500
4             NaN        0       2    2006        WD        Abnorml     140000
...           ...      ...     ...     ...       ...            ...        ...
1456          NaN        0       8    2007        WD         Normal     175000
1457          NaN        0       2    2010        WD         Normal     210000
1458         Shed     2500       5    2010        WD         Normal     266500
1459          NaN        0       4    2010        WD         Normal     142125
1460          NaN        0       6    2008        WD         Normal     147500

[1461 rows x 81 columns]>

In [5]:
print("Data Type : ", type(house_data)) #finding out what datatype the specified file is.
print("Data Dims : ", house_data.shape) #finding out the shape/dimensions of the datatype specified.

Data Type :  <class 'pandas.core.frame.DataFrame'>
Data Dims :  (1461, 81)

1b) The above returned results show that the csv contains 1461 rows, 1460 excluding the header while containing 81 columns, 80 excluding the index row.

In [6]:
house_data.info

<bound method DataFrame.info of         0           1         2            3        4       5      6   \
0       Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley
1        1          60        RL           65     8450    Pave    NaN
2        2          20        RL           80     9600    Pave    NaN
3        3          60        RL           68    11250    Pave    NaN
4        4          70        RL           60     9550    Pave    NaN
...    ...         ...       ...          ...      ...     ...    ...
1456  1456          60        RL           62     7917    Pave    NaN
1457  1457          20        RL           85    13175    Pave    NaN
1458  1458          70        RL           66     9042    Pave    NaN
1459  1459          20        RL           68     9717    Pave    NaN
1460  1460          20        RL           75     9937    Pave    NaN

            7            8          9   ...        71      72     73  \
0     LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence
1          Reg          Lvl     AllPub  ...         0     NaN    NaN
2          Reg          Lvl     AllPub  ...         0     NaN    NaN
3          IR1          Lvl     AllPub  ...         0     NaN    NaN
4          IR1          Lvl     AllPub  ...         0     NaN    NaN
...        ...          ...        ...  ...       ...     ...    ...
1456       Reg          Lvl     AllPub  ...         0     NaN    NaN
1457       Reg          Lvl     AllPub  ...         0     NaN  MnPrv
1458       Reg          Lvl     AllPub  ...         0     NaN  GdPrv
1459       Reg          Lvl     AllPub  ...         0     NaN    NaN
1460       Reg          Lvl     AllPub  ...         0     NaN    NaN

               74       75      76      77        78             79         80
0     MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
1             NaN        0       2    2008        WD         Normal     208500
2             NaN        0       5    2007        WD         Normal     181500
3             NaN        0       9    2008        WD         Normal     223500
4             NaN        0       2    2006        WD        Abnorml     140000
...           ...      ...     ...     ...       ...            ...        ...
1456          NaN        0       8    2007        WD         Normal     175000
1457          NaN        0       2    2010        WD         Normal     210000
1458         Shed     2500       5    2010        WD         Normal     266500
1459          NaN        0       4    2010        WD         Normal     142125
1460          NaN        0       6    2008        WD         Normal     147500

[1461 rows x 81 columns]>

In [7]:
house_data.describe

<bound method NDFrame.describe of         0           1         2            3        4       5      6   \
0       Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley
1        1          60        RL           65     8450    Pave    NaN
2        2          20        RL           80     9600    Pave    NaN
3        3          60        RL           68    11250    Pave    NaN
4        4          70        RL           60     9550    Pave    NaN
...    ...         ...       ...          ...      ...     ...    ...
1456  1456          60        RL           62     7917    Pave    NaN
1457  1457          20        RL           85    13175    Pave    NaN
1458  1458          70        RL           66     9042    Pave    NaN
1459  1459          20        RL           68     9717    Pave    NaN
1460  1460          20        RL           75     9937    Pave    NaN

            7            8          9   ...        71      72     73  \
0     LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence
1          Reg          Lvl     AllPub  ...         0     NaN    NaN
2          Reg          Lvl     AllPub  ...         0     NaN    NaN
3          IR1          Lvl     AllPub  ...         0     NaN    NaN
4          IR1          Lvl     AllPub  ...         0     NaN    NaN
...        ...          ...        ...  ...       ...     ...    ...
1456       Reg          Lvl     AllPub  ...         0     NaN    NaN
1457       Reg          Lvl     AllPub  ...         0     NaN  MnPrv
1458       Reg          Lvl     AllPub  ...         0     NaN  GdPrv
1459       Reg          Lvl     AllPub  ...         0     NaN    NaN
1460       Reg          Lvl     AllPub  ...         0     NaN    NaN

               74       75      76      77        78             79         80
0     MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
1             NaN        0       2    2008        WD         Normal     208500
2             NaN        0       5    2007        WD         Normal     181500
3             NaN        0       9    2008        WD         Normal     223500
4             NaN        0       2    2006        WD        Abnorml     140000
...           ...      ...     ...     ...       ...            ...        ...
1456          NaN        0       8    2007        WD         Normal     175000
1457          NaN        0       2    2010        WD         Normal     210000
1458         Shed     2500       5    2010        WD         Normal     266500
1459          NaN        0       4    2010        WD         Normal     142125
1460          NaN        0       6    2008        WD         Normal     147500

[1461 rows x 81 columns]>

In [9]:
summeroly2016data = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')
summeroly2016data

[                         2016 Summer Olympics medals  \
 0                                           Location
 1                                         Highlights
 2                                   Most gold medals
 3                                  Most total medals
 4  .mw-parser-output .hlist dl,.mw-parser-output ...

                        2016 Summer Olympics medals.1
 0                             Rio de Janeiro, Brazil
 1                                         Highlights
 2                                 United States (46)
 3                                United States (121)
 4  .mw-parser-output .hlist dl,.mw-parser-output ...  ,
                                                    0
 0                                Part of a series on
 1                               2016 Summer Olympics
 2  Bid process (bid details) Development (venues,...
 3  .mw-parser-output .navbar{display:inline;font-...,
                    Rank                   NOC  Gold  Silver  Bronze  Total
 0                     1         United States    46      37      38    121
 1                     2         Great Britain    27      23      17     67
 2                     3                 China    26      18      26     70
 3                     4                Russia    19      17      20     56
 4                     5               Germany    17      10      15     42
 ..                  ...                   ...   ...     ...     ...    ...
 82                   78               Nigeria     0       0       1      1
 83                   78              Portugal     0       0       1      1
 84                   78   Trinidad and Tobago     0       0       1      1
 85                   78  United Arab Emirates     0       0       1      1
 86  Totals (86 entries)   Totals (86 entries)   306     307     359    972

 [87 rows x 6 columns],
                                           Ruling date  \
 0   List of official changes in medal standings (d...
 1                                      18 August 2016
 2                                      18 August 2016
 3   List of official changes in medal standings (a...
 4                                     8 December 2016
 5                                     8 December 2016
 6                                     8 December 2016
 7                                     8 December 2016
 8                                     30 January 2017
 9                                     30 January 2017
 10                                      22 March 2022
 11                                      22 March 2022
 12                                      22 March 2022
 13                                      22 March 2022

                                           Sport/Event  \
 0   List of official changes in medal standings (d...
 1                            WeightliftingMen's 69 kg
 2                            WeightliftingMen's 69 kg
 3   List of official changes in medal standings (a...
 4                            WeightliftingMen's 85 kg
 5                            WeightliftingMen's 85 kg
 6                               BoxingMen's flyweight
 7                               BoxingMen's flyweight
 8                       CanoeingMen's C-1 1000 metres
 9                       CanoeingMen's C-1 1000 metres
 10                           WeightliftingMen's 77 kg
 11                           WeightliftingMen's 77 kg
 12                           WeightliftingMen's 77 kg
 13                           WeightliftingMen's 77 kg

                                         Athlete (NOC)  \
 0   List of official changes in medal standings (d...
 1                             Izzat Artykov (KGZ) DSQ
 2                          Luis Javier Mosquera (COL)
 3   List of official changes in medal standings (a...
 4                         Gabriel Sîncrăian (ROM) DSQ
 5                                  Denis Ulanov (KAZ)
 6                              Misha Aloyan (RUS) DSQ
 7                                    Yoel Finol (VEN)
 8                        Serghei Tarnovschi (MDA) DSQ
 9                                Ilia Shtokalov (RUS)
 10                            Nijat Rahimov (KAZ) DSQ
 11                                   Lü Xiaojun (CHN)
 12                                 Mohamed Ehab (EGY)
 13                         Chatuphum Chinnawong (THA)

                                            Unnamed: 3  \
 0   List of official changes in medal standings (d...
 1                                                 NaN
 2                                                 NaN
 3   List of official changes in medal standings (a...
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                 −1
 11                                                 +1
 12                                                NaN
 13                                                NaN

                                            Unnamed: 4  \
 0   List of official changes in medal standings (d...
 1                                                 NaN
 2                                                 NaN
 3   List of official changes in medal standings (a...
 4                                                 NaN
 5                                                 NaN
 6                                                  −1
 7                                                  +1
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                 −1
 12                                                 +1
 13                                                NaN

                                            Unnamed: 5  \
 0   List of official changes in medal standings (d...
 1                                                  −1
 2                                                  +1
 3   List of official changes in medal standings (a...
 4                                                  −1
 5                                                  +1
 6                                                 NaN
 7                                                  −1
 8                                                  −1
 9                                                  +1
 10                                                NaN
 11                                                NaN
 12                                                 −1
 13                                                 +1

                                                 Total  \
 0   List of official changes in medal standings (d...
 1                                                  −1
 2                                                  +1
 3   List of official changes in medal standings (a...
 4                                                  −1
 5                                                  +1
 6                                                  −1
 7                                                   0
 8                                                  −1
 9                                                  +1
 10                                                 −1
 11                                                  0
 12                                                  0
 13                                                 +1

                                               Comment  \
 0   List of official changes in medal standings (d...
 1   On 18 August 2016, Kyrgyz weightlifter Izzat A...
 2   On 18 August 2016, Kyrgyz weightlifter Izzat A...
 3   List of official changes in medal standings (a...
 4   On 8 December 2016, the CAS disqualified weigh...
 5   On 8 December 2016, the CAS disqualified weigh...
 6   On 8 December 2016, the CAS disqualified weigh...
 7   On 8 December 2016, the CAS disqualified weigh...
 8   Serghei Tarnovschi of Moldova was stripped of ...
 9   Serghei Tarnovschi of Moldova was stripped of ...
 10  Nijat Rahimov of Kazakhstan was stripped of hi...
 11  Nijat Rahimov of Kazakhstan was stripped of hi...
 12  Nijat Rahimov of Kazakhstan was stripped of hi...
 13  Nijat Rahimov of Kazakhstan was stripped of hi...

                                            Unnamed: 8
 0   List of official changes in medal standings (d...
 1                                                 NaN
 2                                                 NaN
 3   List of official changes in medal standings (a...
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN  ,
                       vte Olympic Games medal tables  \
 0  Olympic medal All-time Olympic Games medal tab...
 1                               Summer Olympic Games
 2                               Winter Olympic Games
 3  Lists of Olympic medalists List of stripped Ol...

                     vte Olympic Games medal tables.1
 0  Olympic medal All-time Olympic Games medal tab...
 1  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
 2  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
 3  Lists of Olympic medalists List of stripped Ol...  ,
   vte Events at the 2016 Summer Olympics (Rio de Janeiro)  \
 0  Archery Athletics Badminton Basketball Boxing ...
 1  Chronological summary Medal table List of meda...

   vte Events at the 2016 Summer Olympics (Rio de Janeiro).1
 0  Archery Athletics Badminton Basketball Boxing ...
 1  Chronological summary Medal table List of meda...         ,
      vte Summer Olympics medal table leaders by year  \
 0  1896: United States 1900: France 1904: United ...

    vte Summer Olympics medal table leaders by year.1
 0  1896: United States 1900: France 1904: United ...  ]

In [10]:
len(summeroly2016data)

7

Therefore there are 7 tables in the imported html file. As len() returns the number of tables in the html file.

In [12]:
print("Data Type : ", type(summeroly2016data))

Data Type :  <class 'list'>

In [2]:
medaltbl = pd.DataFrame(summeroly2016data[2])
print(medaltbl)

NameError: name 'pd' is not defined

The pd.DataFrame function helps to make a table of the given data, you can specify which tables you want out of many
by using the indexing [] and the index of the table.

In [19]:
top20 = medaltbl[0:20]
print(top20)

   Rank            NOC  Gold  Silver  Bronze  Total
0     1  United States    46      37      38    121
1     2  Great Britain    27      23      17     67
2     3          China    26      18      26     70
3     4         Russia    19      17      20     56
4     5        Germany    17      10      15     42
5     6          Japan    12       8      21     41
6     7         France    10      18      14     42
7     8    South Korea     9       3       9     21
8     9          Italy     8      12       8     28
9    10      Australia     8      11      10     29
10   11    Netherlands     8       7       4     19
11   12        Hungary     8       3       4     15
12   13        Brazil*     7       6       6     19
13   14          Spain     7       4       6     17
14   15          Kenya     6       6       1     13
15   16        Jamaica     6       3       2     11
16   17        Croatia     5       3       2     10
17   18           Cuba     5       2       4     11
18   19    New Zealand     4       9       5     18
19   20         Canada     4       3      15     22

In [20]:
print("Data type : ", type(top20)) #top20 is a DataFrame type.

Data type :  <class 'pandas.core.frame.DataFrame'>